.experience__wrapper {
    @apply flex mt-4 gap-3 relative;
}

.experience__dot {
    @apply w-3 h-3 rounded-full mt-2 relative;
}

.experience__wrapper::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color: var(--color-primary);
    opacity: 40%;
    height: calc(100% - 12px);
    left: 5px;
    top: 28px;
}

.experience__wrapper:last-child::before {
    opacity: 0;
}

.expertise__wrapper {
    @apply flex flex-wrap gap-10 mt-10 first:mt-4 justify-center md:gap-[3.75rem] md:mt-[3.75rem] md:first:mt-10;
}

.expertise__icon {
    @apply cursor-pointer w-[3.75rem] h-[3.75rem];
}

.expertise__icon:hover path {
    @apply fill-secondary;
}
